<!-- <div for="input" class= "upload-image-btn">
  <p>Upload image</p>
</div> -->
  <%=  simple_form_for(tool) do |f| %>
  <%=  f.input :image %>
  <div class="d-flex">
    <%=  f.input :name, wrapper_html: {class: "margin-r"}%>
    <%=  f.input :brand, wrapper_html: {class: "margin-l"}%>
  </div>
  <%=  f.input :image_cache, as: :hidden %>
  <%=  f.input :description %>
  <%=  f.input :parts_list %>
  <%=  f.input :tech_specs %>
  <%=  f.input :category, collection: ["Automotive",
"Bicycle",
"Carpentry & Woodworking",
"Cleaning",
"Concrete & Masonry",
"Electrical & Lighting",
"Floor & Wall",
"Garden & Outdoors",
"Ladders",
"Measuring",
"Mechanical & Metalwork",
"Painting & Caulking",
"Plumbing",
"Safety",
"Household",
"Miscellaneous"] %>
  <%=  f.input :price %>
  <%= f.submit "update tool",  class: "rent yellow-btn" %>
<% end %>
