<%=  simple_form_for(tool) do |f| %>
  <%=  f.input :image %>
  <div class="d-flex">
    <%=  f.input :name, wrapper_html: {class: "margin-r"}%>
    <%=  f.input :brand, wrapper_html: {class: "margin-l"}%>
  </div>
  <%=  f.input :image_cache, as: :hidden %>
  <%=  f.input :price %>
  <%=  f.input :description %>
  <%=  f.input :parts_list %>
  <%=  f.input :tech_specs %>
  <%=  f.input :category, collection: ["Automotive", "Garden", "Home"] %>
  <%=  f.input :price %>
  <%= f.submit class: "rent yellow-btn" %>
<% end %>
