<div class="login-wrap">
  <header class="login-header">
    <h2 class="login-logo"></h2>
    <h1 class="little-big-header">Sign up!</h1>
    <div class="flex-grid">
      <div class="login-half left" id="sign-up-half">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, label: "EMAIL",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :name, label: "NAME",
                      required: true,
                      input_html: { autocomplete: "name" } %>
          <%= f.input :address, label: "ADDRESS",
                      required: true,
                      input_html: { autocomplete: "address" } %>
          <%= f.input :password, label: "PASSWORD",
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
        <div class="form-actions">
          <%= f.submit "Sign up", class: "yellow-btn"%>
        </div>
        <% end %>
      </div>
  </header>
</div>
