<% if @rentals.count == 0 %>
  <div class="container empty-state-msg">
    <h2>You have no rentals at the moment.</h2>
  </div>
<% else %>
  <div class="rental-card-container">
    <% @rentals.each do |r| %>
      <div class="card-rental">
          <%= cl_image_tag r.tool.image %>
          <div class="card-rental-infos">
            <h2><%= r.tool.name %></h2>
            <small><%= r.start_date %>   -   <%= r.end_date %></small>
            <p>Total price $<%= r.total_price %></p>
          </div>
        </div>
      <% end %>
    </div>
<% end %>












