<div class="banner">
  <div class="container">
    <h1><%= image_tag "logo.png" %><strong> Toolbrary</strong></h1>
    <body>

      <%= form_tag tools_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
            id: "search-bar",
          placeholder: "Drill"
        %>
        <%= link_to tools_path do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>


     <!-- <form class="search-container">
       <input type="text" id="search-bar" placeholder="Drill">
       <a href=""><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
     </form> -->
    </body>
  </div>
</div>
<% category = ["Automotive",
"Bicycle",
"Carpentry & Woodworking",
"Cleaning",
"Concrete & Masonry",
"Electrical & Lighting",
"Floor & Wall",
"Garden & Outdoors",
"Ladders",
"Measuring",
"Mechanical & Metalwork",
"Painting & Caulking",
"Plumbing",
"Safety",
"Household",
"Miscellaneous"]%>
<div class="card-container">
  <% category.each do |c| %>
    <div class="catergory-card">
      <div class="Image-box">
        <img src="https://source.unsplash.com/1600x900/?<%= c %>" >
        <a class="View-btn">View</a>
      </div>
      <div class="Text-box">
        <h2><%= c %></h2>
      </div>
    </div>
  <% end %>
</div>
