<div class="banner">
  <div class="container">
    <h1><%= image_tag "logo.png" %><strong> Toolbrary</strong></h1>
    <body>

      <%= form_tag tools_path, method: :get do %>
        <div class="search-typer-bar" style="position: relative">
          <div class="search-box">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              id: "search-bar"
            %>
          </div>
          <div class="search-box" id="typed-text" style="width: 15%">
            <p class="typer-text">
              <span class="typer" id="first-typer" data-delay="250" data-words="mallet,saw,drill,chisel,hammer,screwdriver,wrench"></span>
              <span class="cursor" data-owner="first-typer" style="color: black"></span>
            </p>
          </div>
          <div class="search-box">
            <%= link_to tools_path do %>
              <i id="delete-button-red" class="fas fa-search"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </body>
  </div>
</div>
<% category = ["Automotive",
"Bicycle",
"Carpentry & Woodworking",
"Cleaning",
"Concrete & Masonry",
"Electrical & Lighting",
"Floor & Wall",
"Garden & Outdoors",
"Ladders",
"Measuring",
"Mechanical & Metalwork",
"Painting & Caulking",
"Plumbing",
"Safety",
"Household",
"Miscellaneous"]%>
<div class="card-container">
  <% category.each do |c| %>
    <div class="catergory-card">
      <div class="Image-box">
        <%= link_to tools_path(:query => c) do %>
        <img src="https://source.unsplash.com/1600x900/?<%= c %>" >
        <a href="<%= tools_path(:query => c) %>" class="View-btn">View</a>
        <% end %>
      </div>
      <div class="Text-box">
        <h2><%= c %></h2>
      </div>
    </div>
  <% end %>
</div>

