<div class="login-wrap">
  <header class="login-header">
    <h2 class="login-logo"></h2>
    <h1 class="little-big-header">Log In!</h1>
    <div class="flex-grid">
      <div class="login-half left">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, label: "EMAIL",
          required: false,
          autofocus: true,
          input_html: { autocomplete: "email" } %>
          <%= f.input :password, label: "PASSWORD",
          required: false,
          input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "yellow-btn"%>
        </div>
        <% end %>
        <div class="link-container">
          <%= render "devise/shared/links" %>
        </div>
      </div>
      <div class="login-divider">
        <div class="bar bar-top"></div>
        <span class="login-or">OR</span>
        <div class="bar bar-bottom"></div>
      </div>
      <div class="login-half right">
        <h1>gmail</h1>
        <h1>facebook</h1>
        <h1>github</h1>
      </div>
    </div>
  </header>
</div>
